@tailwind base;
@tailwind components;
@tailwind utilities;

.main-grade{
    background: rgb(248,248,248);
background: linear-gradient(132deg, rgba(248,248,248,1) 0%, rgba(214,214,181,1) 0%, rgba(121,104,174,1) 49%, rgba(138,63,131,1) 81%);
}

.red-shadow{
    box-shadow: 0 0 20px 3px  rgb(232, 36, 36);
}
.green-shadow{
    box-shadow: 0 0 20px 3px  rgb(5, 180, 16);
}
.yellow-shadow{
    box-shadow: 0 0 20px 3px  rgb(215, 218, 34);
}
